body {
    margin: 10px auto;
    width: 1024px;
    background: black;
    font-family: sans-serif;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

h1, h2 {
    color: salmon;
    text-align: center;
    margin: 0;
}

h2 {
    font-size: 20px;
}

canvas {
    border: 1px solid #333;
}

div.description {
    color: salmon;
    width: 600px;
    margin: 0px auto;
    text-indent: 1em;
}

.description p {
    margin: 5px 0;
    text-align: justify;
}

.fps {
    position: absolute;
    top: 0;
    right: 0;
    color: #444;
    font-size: 12px;
}

ul li span {
    display: inline-block;
}

ul {
    list-style-type: none;
    color: pink;
}

ul li .input {
    text-align: right;
    width: 250px;
    font-weight: bold;
}

ul li .result {
    text-align: left;
    width: 250px;
    font-style: italic;
}
